[submodule "external/anthropic-skills"]
	path = external/anthropic-skills
	url = https://github.com/anthropics/skills.git
[submodule "external/claude-scientific-skills"]
	path = external/claude-scientific-skills
	url = https://github.com/K-Dense-AI/claude-scientific-skills.git
[submodule "external/knowledge-absorber"]
	path = external/knowledge-absorber
	url = https://github.com/Leeszzz/StudyAnalysis-Skills/
[submodule "external/awesome-chatgpt-prompts"]
	path = external/awesome-chatgpt-prompts
	url = https://github.com/f/awesome-chatgpt-prompts
